.vs
bin
obj
packages
package-lock.json
node_modules
temp
data
*.user
*.DS_Store
/FIT_key.pem
/Backend/Server/API/global.json
/Backend/Server/API/appsettings.json
/Backend/Server/API/Log
/Publish
/frontend/debug.log
/Backend/Server/API/appsettings.Development.json
.vscode/
